## Localized environment variables
**/.env
**/env

## Generated Kubernetes Resources
.k8s

## Cloned exemplar repositories
cp_root/

## CRS scratch space
crs_scratch/

## DIND cache space
dind_cache/

## CAPI Audit logs
capi_logs/

## Charts
charts/*

## LLM creds
**/vertex_key.json

# Devenv
# This is another solution for managing dev environments
# And these entries are ment to prevent accidentally
# committing stuff that others may not be utilizing.
.devenv*
devenv.local.nix
devenv.lock

# direnv
.direnv

.idea